/*
  font-face
  @param string font-family
  @param string url
*/
@mixin font-face($font-family, $url) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$url}.eot');
    src: url('#{$url}.eot?#iefix') format('embedded-opentype'), url('#{$url}.woff') format('woff'),
      url('#{$url}.ttf') format('truetype'), url('#{$url}.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

/*
  fontSize
  @param string font-family
  @param string font-size
*/
@mixin fontSize($font-family, $font-size) {
  font-family: $font-family;
  font-size: $font-size;
}

/*
  size
  @param string width
  @param string height
*/
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
