//Blockquote styles
.blockquote {
  width: 93%;
  background: $ebb;
  color: $russett;
  padding: 26px;
  margin: 0;
  font: italic 20px/27px Georgia;

  &-text {
    @include fontSize(Georgia, 20px);
    color: $russett;

    &--up {
      margin-bottom: 26px;
    }

    &--below {
      margin-bottom: 8px;
    }
  }
}

//Blockcite styles
.blockcite {
  width: 89%;
  text-align: right;
  margin-top: 20px;

  &-web {
    display: block;

    &--cite {
      @include fontSize(Arial, 15px);

      color: $cocoa-brown;
      padding-top: 20px;
      font-weight: bold;
      word-spacing: 4px;
    }

    &--sub {
      font-size: 10px;
      line-height: 5px;
      color: $bull-shot;
    }
  }
}

//Arrow styles
.arrow {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 30px solid $ebb;
  border-left: 30px solid transparent;
  position: absolute;
  right: 55px;
}
