//Horizontal styles
.horizontal {
  color: $grey-wrap;
  margin: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);

  &-contact {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &-mission {
    margin: 16px 0 37px;
  }
}
