//Navbar styles
.nav {
  background-color: $grey-nav;
  justify-content: flex-end;
  height: 215px;
  margin: 0 50px 0 58px;

  border-left: 1px solid $mondo;
  border-right: 1px solid $mondo;

  &-ul {
    background-color: $grey-nav;
    display: flex;
  }

  &-li {
    @include size(133px, 50px);

    list-style: none;
  }

  &-link {
    text-decoration: none;
    text-align: center;
  }

  &-img {
    margin-top: -50px;
  }

  &-text {
    @include fontSize(Arial, 11px);

    display: block;
    color: $grey-font;
    text-transform: uppercase;
    padding-left: 9px;
    margin-top: -5px;
  }
}
