//Number component(circle shape) styles
.number {
  &-circle {
    @include size(23px, 23px);

    border: solid 1px transparent;
    border-radius: 50%;
    background: $russett;
    color: $white;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;

    &:hover {
      background: $pharlap;
    }
  }

  &-active {
    background: $pharlap;
  }
}
