<div class="page">
  <!-- body contact-->
  <div class="container">
    <div class="contact">
      <div class="row">
        <div class="col-row-4 contact-left"></div>
        <div class="col-row-8 contact-detail">
          <!-- title: contact us -->
          <h2 class="title">
            {{ title.contactUs }}
          </h2>

          <!-- horizontal bar -->
          <hr class="horizontal horizontal-contact" />

          <!-- description: contact us -->
          <p class="description">
            {{ description.contactDes }}
          </p>

          <!-- contact detail -->
          <div class="contact-detail">
            <div class="contact-item">
              <p class="contact-text">
                {{ contact.phone }}
              </p>
              <span class="contact-info">{{ contact.pNumber }}</span>
              <p class="contact-text">
                {{ contact.skype }}
              </p>
              <span class="contact-info">{{ contact.sName }}</span>
            </div>

            <div class="contact-item">
              <p class="contact-text">
                {{ contact.fax }}
              </p>
              <span class="contact-info">{{ contact.pNumber }}</span>

              <p class="contact-text">
                {{ contact.twitter }}
              </p>
              <span class="contact-info">{{ contact.tName }}</span>
            </div>
          </div>

          <!-- form -->
          {{> form }}
        </div>
      </div>
    </div>
  </div>
</div>
