//Contact styles
.contact {
  &-nav {
    display: flex;
    background-color: $grey-nav;
    justify-content: flex-end;
    height: 93px;
    margin-right: 50px;
    margin-left: 59px;
    border-left: 1px solid $mondo;
    border-right: 1px solid $mondo;
  }

  &-left {
    width: 29%;
  }

  &-detail {
    width: 63%;
  }

  &-item {
    @include fontSize(Arial, 13px);

    display: flex;
  }

  &-text {
    width: 47px;
    margin-right: 20px;
    font-weight: bold;
    padding-top: 8px;
    margin-bottom: 0;
  }

  &-info {
    margin-right: 50px;
    padding-top: 8px;
  }
}
