//Footer styles
.footer {
  background: $wallnut;

  &-main {
    display: flex;
    width: 100%;
    margin-right: 50px;
    margin-left: 59px;
  }

  &-img {
    margin: 0;
    transform: translateX(-15%);
  }

  &-logo {
    background: $zeult;
    width: 37%;
    text-align: center;
    padding-top: 4px;
    border-right: 1px solid $mondo;
    border-left: 1px solid $mondo;
  }

  &-text {
    background: $cocoa-brown;
    color: $white;
    width: 68%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 28px;
    border-right: 1px solid $mondo;
  }

  &-small {
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    color: $grey-font;

    &--right {
      font-size: 13px;
      margin-right: 45px;
      padding-top: 7px;
    }
  }

  &-typo {
    margin-left: 36px;
    padding-top: 3px;
  }

  &-label {
    color: $white;
  }

  & .container {
    display: flex;
  }
}
