.body {
  &-nav {
    background-color: $grey-wrap;
  }
}

.main {
  background-color: $ebb;
  padding-top: 50px;
  margin-top: -77px;
}

.page {
  background: $hint-red;
  margin: -50px 170px 0 179px;
  padding-top: 38px;
  padding-bottom: 95px;

  &-title {
    margin-top: -17px;
  }
}

.sup-tag {
  height: 54px;
  background-color: $grey-sup;
  border-bottom: 1px solid $mondo;
}

//Row styles
.row {
  justify-content: space-around;
  flex-wrap: nowrap;

  &-middle {
    width: 35%;
    padding-left: 22px;
    margin-top: -15px;
  }

  &-right {
    width: 27%;
    margin-top: -15px;
    position: relative;
  }

  &-left {
    width: 28%;
  }
}

.active {
  margin-top: -63px;
  padding-top: 63px;
  background-image: url(../assets/img/light.png);
  background-repeat: no-repeat;
}
