.wrapper {
  margin-left: 200px;
  margin-right: 198px;
}

//Content item styles
.content {
  &-ul {
    padding-left: 0;
    margin: 0;
  }

  &-li {
    list-style: none;
    padding-bottom: 16px;
  }

  &-item {
    display: flex;
  }

  &-img {
    @include size(35px, 35px);
  }

  &-title {
    @include fontSize('Duepuntozero', 30px);

    color: $russett;
    padding-left: 15px;
  }
}

//Recent work section styles
.recentWork {
  &-ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 16px 0;
    margin-top: 10px;
    margin-right: 19px;
  }

  &-li {
    list-style: none;
    padding-left: 7px;
  }

  &-img {
    display: block;
    margin-left: auto;
    border: 1px solid $alto;
    padding: 11px;
    width: 65%;
  }

  &-text {
    text-align: right;
    font-style: italic;
    font-size: 13px;
    width: 97%;
    padding: 8px 0;
  }

  &-layout {
    font-weight: bold;
  }

  &-horizontal {
    width: 90%;
    margin: 0 40px 23px 0;
    margin-top: 5px;
  }

  &-left {
    width: 50%;
  }

  &-title {
    margin-top: 15px;
  }
}
