<div class="content">
  <ul class="content-ul">
    <li class="content-li">
      <div class="content-item">
        <img src="{{ contentItem.urlTool }}" alt="{{ contentItem.altTool }}" class="content-img" />
        <h3 class="content-title">{{ contentItem.titleTool }}</h3>
      </div>

      <p class="description description-content">{{ contentItem.textTool }}</p>
    </li>

    <li class="content-li">
      <div class="content-item">
        <img src="{{ contentItem.urlDisplay }}" alt="{{ contentItem.altDisplay }}" class="content-img" />
        <h3 class="content-title">{{ contentItem.titleDisplay }}</h3>
      </div>

      <p class="description description-content">{{ contentItem.textDisplay }}</p>
    </li>

    <li class="content-li">
      <div class="content-item">
        <img src="{{ contentItem.urlUsability }}" alt="{{ contentItem.altUsability }}" class="content-img" />
        <h3 class="content-title">{{ contentItem.titleUsability }}</h3>
      </div>

      <p class="description description-content">{{ contentItem.textUsability }}</p>
    </li>
  </ul>
</div>
