<div class="container">
  <div class="footer-main">
    <div class="footer-logo">
      <img src="{{ root }}assets/img/logo-footer.png" alt="logo footer" class="footer-img" />
    </div>
    <div class="footer-text">
      <div class="footer-typo">
        <small class="footer-small">
          {{ footer.info }}
          <span class="footer-label">{{ footer.name }}</span>
        </small>
        <small class="footer-small">
          {{ footer.icon }}
          <span class="footer-label">{{ footer.font }}</span>
        </small>
      </div>
      <small class="footer-small footer-small--right">
        Copyright &copy;
        <span class="footer-label">{{ footer.year }}</span>
      </small>
    </div>
  </div>
</div>
