<form action="" class="form">
  <div class="form-group">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" />
  </div>
  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" />
  </div>
  <div class="form-group">
    <label for="text" class="form-label">Phone</label>
    <input type="text" class="form-control" name="phone" />
  </div>
  <div class="form-group form-group--textarea">
    <label for="text" class="form-label">Message</label>
    <textarea type="text" class="form-control form-textarea" name="message"></textarea>
  </div>
  <button type="submit" class="btn btn-contact float-right">Submit</button>
</form>
