<section class="logo">
  {{#ifequal page 'index'}}
  <img class="logo-box" src="{{ root }}assets/img/logo-home.png" alt="Light box" />
  {{else}}
  <img class="logo-contact" src="{{ root }}assets/img/logo-contact.png" alt="logo contact" />
  {{/ifequal}}
</section>
