<div class="container">
  <div class="row">
    <div class="col-row-4 row-left"></div>
    <div class="col-row-4 row-middle">
      <!-- title: what we do -->
      <h2 class="title">
        {{ title.do }}
      </h2>

      <hr class="horizontal horizontal-mission" />

      <!-- what-we-do section  -->
      {{> contentItem }}
    </div>
    <div class="col-row-4 row-right">
      <blockquote class="blockquote">
        <p class="blockquote-text">
          {{ mission.textUp }}
        </p>
        <p class="blockquote-text">
          {{ mission.textBelow }}
        </p>
      </blockquote>
      <div class="arrow"></div>
      <div class="blockcite">
        <span class="blockcite-web blockcite-web--cite">
          {{ mission.author }}
        </span>
        <span class="blockcite-web blockcite-web--sub">
          {{ mission.homepage }}
        </span>
      </div>
    </div>
  </div>
</div>
