<div class="container container-nav">
  {{#ifequal page 'index'}}
    <nav class="nav">
  {{else}}
    <nav class="contact-nav">
  {{/ifequal}}
      <ul class="nav-ul">
        <li id="home-li" class="nav-li active">
          <a href="/" class="nav-link">
            <img class="nav-img" src="{{ root }}assets/img/home-icon.png" />
            <span class="nav-text">
              {{ title.home }}
            </span>
          </a>
        </li>
        <li id="work-li" class="nav-li">
          <a href="#" class="nav-link">
            <img class="nav-img" src="{{ root }}assets/img/work-icon.png" />
            <span class="nav-text">
              {{ title.work }}
            </span>
          </a>
        </li>
        <li id="about-li" class="nav-li">
          <a href="#" class="nav-link">
            <img class="nav-img" src="{{ root }}assets/img/about-icon.png" />
            <span class="nav-text">
              {{ title.about }}
            </span>
          </a>
        </li>
        <li id="contact-li" class="nav-li nav-end">
          <a href="/contact.html" class="nav-link">
            <img class="nav-img" src="{{ root }}assets/img/contact-icon.png" />
            <span class="nav-text">
              {{ title.contact }}
            </span>
          </a>
        </li>
      </ul>
    </nav>
</div>
