<div class="container">
  <div class="row">
    <div class="col-row-4 recentWork-left"></div>
    <div class="col-row-8 recentWork-horizontal">
      <hr class="horizontal" />
    </div>
  </div>

  <div class="row">
    <div class="col-row-4 row-left"></div>
    <div class="col-row-4 row-middle">
      <!-- title: recent work -->
      <h2 class="title recentWork-title">
        {{ title.recentWork }}
      </h2>
    </div>
    <div class="col-row-4 row-right">
      <ul class="recentWork-ul">
        <li class="recentWork-li">
          <h3 class="number-circle number-active">1</h3>
        </li>
        <li class="recentWork-li">
          <h3 class="number-circle">2</h3>
        </li>
        <li class="recentWork-li">
          <h3 class="number-circle">3</h3>
        </li>
        <li class="recentWork-li">
          <h3 class="number-circle">4</h3>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <img src="{{ root }}assets/img/about-page.jpg" alt="about page img" class="recentWork-img" />
    <div class="recentWork-text">
      <span class="recentWork-layout">
        {{ title.layout }}
      </span>
      <span>
        {{ title.design }}
      </span>
    </div>
  </div>
</div>
