//Button styles
.btn {
  @include fontSize(Arial, 13px);

  text-transform: uppercase;
  padding: 11px 31px;
  border-radius: 0;

  &-contact {
    background-color: $rust;
    border: none;
    font-size: 11px;
  }

  &:hover {
    background-color: $zoba;
    color: $white;
  }
}
