//Form styles
.form {
  @include fontSize(Arial, 13px);

  width: 74%;
  margin-top: 38px;

  &-control {
    border-radius: 0;
    box-shadow: none !important;
  }

  &-label {
    text-transform: uppercase;
    font-size: 11px;
  }

  &-textarea {
    height: 217px !important;
  }

  &-group {
    &--textarea {
      margin-bottom: 13px;
    }
  }
}
