{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{!— Required meta tags --}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PSD to HTML</title>
    <link rel="stylesheet" href="{{ root }}assets/css/app.css" />
  </head>

  <body>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

    <div class="sup-tag"></div>

    <div class="body-nav">
      {{> navigation}}
    </div>

    <!-- logo -->
    {{> logo}}

    <main role="main" class="main">
      {{> body}}
    </main>

    <footer class="footer">
      {{> footer }}
    </footer>
    <script src="{{ root }}assets/js/app.js"></script>
  </body>
</html>
